<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>合盘</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">合盘</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
    (didDismiss)="isAlertOpen=false"></ion-alert>

  @if (loading) {
  <div class="ion-text-center">
    <ion-label>获取星盘</ion-label>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  }
  <div class="ion-text-center">
    <canvas id="canvas" width="0" height="0"></canvas>
  </div>
  @if (horoscopeComparisonData) {
  <ion-toolbar class="synastry-toolbar" [class.hidden]="isDrawing || loading">
    <div class="toolbar-content">
      <div class="horo-aspect-toggle">
        <ion-label>星盘</ion-label>
        <ion-toggle [(ngModel)]="isAspect"></ion-toggle>
        <ion-label>相位</ion-label>
      </div>
      <ion-button (click)="swap()" fill="clear" class="swap-button">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToPlanetFriendship()" fill="clear" class="friendship-button">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
  }

  @if (isAspect) {
  <div style="display: flex;flex-direction: column;align-items: center;">
    <div>
      <div>说明：内圈行星横看，外圈行星坚看</div>
    </div>
  </div>
  }

</ion-content>