<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"></ion-alert>
  <ul>
    <li>此处没有按2.5天一个宫位，而是将每月的天数12等分</li>
    <li>2.5天小限的时间已经扣除夏令时</li>
  </ul>

  <div class="table-container">
    <h2 class="center-title">小限</h2>
    <table class="profection-table ion-text-center">
      <thead>
        <tr>
          <th>年小限</th>
          <th>月小限</th>
          <th>日小限</th>
          <th colspan="2">2.5天小限</th>

        </tr>
      </thead>
      <tbody>
        @for (item of profection.date_per_house; track item; let i = $index) {
          <tr>
            @if (i==0) {
              <td class="planet-name" [attr.rowspan]="profection.date_per_house.length">第{{profection.year_house}}宫</td>
            }
            @if (i==0) {
              <td class="planet-name" [attr.rowspan]="profection.date_per_house.length">第{{profection.month_house}}宫</td>
            }
            @if (i==0) {
              <td class="planet-name" [attr.rowspan]="profection.date_per_house.length">第{{profection.day_house}}宫</td>
            }
            <td class="planet-name">第{{(profection.month_house + i - 1) % 12 + 1}}宫</td>
            <td class="planet-name">
              {{item.year}}-{{item.month.toString().padStart(2, "0")}}-{{item.day.toString().padStart(2, "0")}}
              {{item.hour.toString().padStart(2, "0")}}:{{item.minute.toString().padStart(2,
              "0")}}:{{item.second.toString().padStart(2, "0")}}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</ion-content>