<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"></ion-alert>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>小限概览</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="overview-grid">
              <ion-row>
                <ion-col size="6">
                  <div class="house-label">年小限</div>
                  <div class="house-value">第{{profection.year_house}}宫</div>
                </ion-col>
                <ion-col size="6">
                  <div class="house-label">月小限</div>
                  <div class="house-value">第{{profection.month_house}}宫</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <div class="house-label">日小限</div>
                  <div class="house-value">第{{profection.day_house}}宫</div>
                </ion-col>
                <ion-col size="6">
                  <div class="house-label">时小限</div>
                  <div class="house-value">第{{profection.hour_house}}宫</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="isDatePerHouseCollapsed = !isDatePerHouseCollapsed" class="clickable-header">
            <ion-card-title>
              2.5天小限时间
              <ion-icon [name]="isDatePerHouseCollapsed ? 'chevron-down' : 'chevron-up'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          @if (!isDatePerHouseCollapsed) {
            <ion-card-content>
              <p class="note">此处没有按2.5天一个宫位，而是将每月的天数12等分。时间已经扣除夏令时。</p>
              <ion-grid>
                <ion-row class="table-header-row">
                  <ion-col size="4"><b>宫位</b></ion-col>
                  <ion-col size="8"><b>时间</b></ion-col>
                </ion-row>
                @for (item of profection.date_per_house; track item; let i = $index) {
                  <ion-row class="table-data-row">
                    <ion-col size="4">第{{(profection.month_house + i - 1) % 12 + 1}}宫</ion-col>
                    <ion-col size="8">{{formatDate(item)}}</ion-col>
                  </ion-row>
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="isHourPerHouseCollapsed = !isHourPerHouseCollapsed" class="clickable-header">
            <ion-card-title>
              时小限时间
              <ion-icon [name]="isHourPerHouseCollapsed ? 'chevron-down' : 'chevron-up'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          @if (!isHourPerHouseCollapsed) {
            <ion-card-content>
              <p class="note">时小限的时间已经扣除夏令时。</p>
              <ion-grid>
                <ion-row class="table-header-row">
                  <ion-col size="4"><b>宫位</b></ion-col>
                  <ion-col size="8"><b>时间</b></ion-col>
                </ion-row>
                @for (item of profection.hour_per_house; track item; let i = $index) {
                  <ion-row class="table-data-row">
                    <ion-col size="4">第{{(profection.day_house + i - 1) % 12 + 1}}宫</ion-col>
                    <ion-col size="8">{{formatDate(item)}}</ion-col>
                  </ion-row>
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="bottom-spacer"></div>
</ion-content>
