<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>详情</ion-title>
  </ion-toolbar>
</ion-header>

@if (horoscopeData) {
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="isNativeTransformedStarsCollapsed = !isNativeTransformedStarsCollapsed" class="clickable-header">
            <ion-card-title>
              本命化曜
              <ion-icon [name]="isNativeTransformedStarsCollapsed ? 'chevron-down' : 'chevron-up'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          @if (!isNativeTransformedStarsCollapsed) {
            <ion-card-content>
              <ion-grid>
                <ion-row class="table-header-row">
                  <ion-col size="2"><b>化曜</b></ion-col>
                  <ion-col size="1"><b>星</b></ion-col>
                  <ion-col size="2"><b>十神</b></ion-col>
                  <ion-col size="3"><b>宫位</b></ion-col>
                  <ion-col size="4"><b>描述</b></ion-col>
                </ion-row>
                @for (item of horoscopeData.native_transformed_stars; track item; let i = $index) {
                <ion-row class="table-data-row" [attr.data-testid]="'native-star-row-' + i">
                  <ion-col size="2">{{item.transformed_star}}</ion-col>
                  <ion-col size="1">{{ item.star}}</ion-col>
                  <ion-col size="2">{{item.ten_gods}}</ion-col>
                  <ion-col size="3">{{ item.transformed_star_house}}</ion-col>
                  <ion-col size="4">{{item.transformed_star_describe}}</ion-col>
                </ion-row>
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="isProcessTransformedStarsCollapsed = !isProcessTransformedStarsCollapsed" class="clickable-header">
            <ion-card-title>
              流年化曜
              <ion-icon [name]="isProcessTransformedStarsCollapsed ? 'chevron-down' : 'chevron-up'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          @if (!isProcessTransformedStarsCollapsed) {
            <ion-card-content>
              <ion-grid>
                <ion-row class="table-header-row">
                  <ion-col size="2"><b>化曜</b></ion-col>
                  <ion-col size="1"><b>星</b></ion-col>
                  <ion-col size="2"><b>十神</b></ion-col>
                  <ion-col size="3"><b>宫位</b></ion-col>
                  <ion-col size="4"><b>描述</b></ion-col>
                </ion-row>
                @for (item of horoscopeData.process_transformed_stars; track item; let i = $index) {
                <ion-row class="table-data-row" [attr.data-testid]="'process-star-row-' + i">
                  <ion-col size="2">{{item.transformed_star}}</ion-col>
                  <ion-col size="1">{{ item.star}}</ion-col>
                  <ion-col size="2">{{item.ten_gods}}</ion-col>
                  <ion-col size="3">{{ item.transformed_star_house}}</ion-col>
                  <ion-col size="4">{{item.transformed_star_describe}}</ion-col>
                </ion-row>
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- 添加 lunar_mansions_dong_wei_time 表格 -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header (click)="isLunarMansionsCollapsed = !isLunarMansionsCollapsed" class="clickable-header">
            <ion-card-title>
              二十八宿洞微大限时间
              <ion-icon [name]="isLunarMansionsCollapsed ? 'chevron-down' : 'chevron-up'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          @if (!isLunarMansionsCollapsed) {
            <ion-card-content>
              <ion-grid>
                <ion-row class="table-header-row">
                  <ion-col size="6"><b>宿名</b></ion-col>
                  <ion-col size="6"><b>时间</b></ion-col>
                </ion-row>
                @for (item of horoscopeData.dong_wei.lunar_mansions_dong_wei_time; track item; let i = $index) {
                  @if (item) {
                    <ion-row class="table-data-row" [attr.data-testid]="'lunar-mansions-row-' + i">
                      <ion-col size="6">{{ item.lunar_mansions }}</ion-col>
                      <ion-col size="6">{{ item.time.year }}年{{ item.time.month }}月{{ item.time.day }}日 {{ item.time.hour }}:{{ item.time.minute }}:{{ item.time.second }}</ion-col>
                    </ion-row>
                  }
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- 添加星辰贵格信息 -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>星辰贵格</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            @if (planetsGoodConfigs && planetsGoodConfigs.length > 0) {
              <ion-list>
                @for (config of planetsGoodConfigs; track config; let i = $index) {
                  <ion-item>
                    <ion-label>{{ i + 1 }}. {{ config }}</ion-label>
                  </ion-item>
                }
              </ion-list>
            } @else {
              <p>无星辰贵格信息</p>
            }
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- 添加星辰贱格信息 -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>星辰贱格</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            @if (planetsBadConfigs && planetsBadConfigs.length > 0) {
              <ion-list>
                @for (config of planetsBadConfigs; track config; let i = $index) {
                  <ion-item>
                    <ion-label>{{ i + 1 }}. {{ config }}</ion-label>
                  </ion-item>
                }
              </ion-list>
            } @else {
              <p>无星辰贱格信息</p>
            }
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- 添加神煞信息 -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>本命神煞</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table>
              <tr>
                <td>
                  <div>@for (item of nativeShenShas[5]; track item) {<div>{{item}}</div>}</div>
                  <div>巳</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[6]; track item) {<div>{{item}}</div>}</div>
                  <div>午</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[7]; track item) {<div>{{item}}</div>}</div>
                  <div>未</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[8]; track item) {<div>{{item}}</div>}</div>
                  <div>申</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of nativeShenShas[4]; track item) {<div>{{item}}</div>}</div>
                  <div>辰</div>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div>@for (item of nativeShenShas[9]; track item) {<div>{{item}}</div>}</div>
                  <div>酉</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of nativeShenShas[3]; track item) {<div>{{item}}</div>}</div>
                  <div>卯</div>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div>@for (item of nativeShenShas[10]; track item) {<div>{{item}}</div>}</div>
                  <div>戌</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of nativeShenShas[2]; track item) {<div>{{item}}</div>}</div>
                  <div>寅</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[1]; track item) {<div>{{item}}</div>}</div>
                  <div>丑</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[0]; track item) {<div>{{item}}</div>}</div>
                  <div>子</div>
                </td>
                <td>
                  <div>@for (item of nativeShenShas[11]; track item) {<div>{{item}}</div>}</div>
                  <div>亥</div>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- 添加流年神煞信息 -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>流年神煞</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table>
              <tr>
                <td>
                  <div>@for (item of processShenShas[5]; track item) {<div>{{item}}</div>}</div>
                  <div>巳</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[6]; track item) {<div>{{item}}</div>}</div>
                  <div>午</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[7]; track item) {<div>{{item}}</div>}</div>
                  <div>未</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[8]; track item) {<div>{{item}}</div>}</div>
                  <div>申</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of processShenShas[4]; track item) {<div>{{item}}</div>}</div>
                  <div>辰</div>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div>@for (item of processShenShas[9]; track item) {<div>{{item}}</div>}</div>
                  <div>酉</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of processShenShas[3]; track item) {<div>{{item}}</div>}</div>
                  <div>卯</div>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div>@for (item of processShenShas[10]; track item) {<div>{{item}}</div>}</div>
                  <div>戌</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>@for (item of processShenShas[2]; track item) {<div>{{item}}</div>}</div>
                  <div>寅</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[1]; track item) {<div>{{item}}</div>}</div>
                  <div>丑</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[0]; track item) {<div>{{item}}</div>}</div>
                  <div>子</div>
                </td>
                <td>
                  <div>@for (item of processShenShas[11]; track item) {<div>{{item}}</div>}</div>
                  <div>亥</div>
                </td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
}

@if (!horoscopeData) {
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p>没有可显示的数据。</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
}