<ion-label (click)="isOpen=true">{{ year }}-{{ month }}-{{ day }}
  {{ hour }}:{{ minute }}:{{ second }}
</ion-label>
<ion-icon class="now_date_icon" name="time-outline" (click)="nowDate()"></ion-icon>

<ion-modal #modal [isOpen]="isOpen" (didDismiss)="onDidDismiss($event)">
  <ng-template>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="modal.dismiss(null, 'cancel')">取消</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="modal.dismiss(currentValue, 'confirm')">确定</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-picker>
      <ion-picker-column [value]="currentValue.year" (ionChange)="onIonChangeYear($event)">
        @for (v of years; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
      <ion-picker-column [value]="currentValue.month" (ionChange)="onIonChangeMonth($event)">
        @for (v of months; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
      <ion-picker-column [value]="currentValue.day" (ionChange)="onIonChangeDay($event)">
        @for (v of days; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
      <ion-picker-column [value]="currentValue.hour" (ionChange)="onIonChangeHour($event)">
        @for (v of hours; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
      <ion-picker-column [value]="currentValue.minute" (ionChange)="onIonChangeMinute($event)">
        @for (v of minutes; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
      <ion-picker-column [value]="currentValue.second" (ionChange)="onIonChangeSecond($event)">
        @for (v of seconds; track v) {
          <ion-picker-column-option [value]="v">{{ v }}</ion-picker-column-option>
        }
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>
