<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- 生成列表 -->
  <ion-list>
    <ion-item>

      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>计算七政四余的八字时，忽略了时区，假定出生时间是东八区，非东八区时间出生的，八字不准。</ion-label>
    </ion-item>


    <ion-item class="ion-align-items-start">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>太阳弧、次限容许度：1.5°，太阳可取到2.5°。</ion-label>
    </ion-item>


    <ion-item class="ion-align-items-start">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>日、金、水同星座，日在2度，水在3度、金在4度，太阳会燃烧水星，不会燃烧金星。水星拦截了太阳与金星的光线。</ion-label>
    </ion-item>

        <ion-item class="ion-align-items-start">
      <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
      <ion-label>Bonatti 认为行星A接纳行星B，有如下情况之一才行，B位于A的庙位、旺位、A同时具有另外两个尊贵的位（即：界与三分、界与面、面与三分）</ion-label>
    </ion-item>

  </ion-list>
</ion-content>