<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]='"/"+path.Home'>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" [routerLink]='"/"+path.Home'>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="5" class="left_col">
        <ion-label>姓名：</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-input [(ngModel)]="horaData.name"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="ion-text-right">
        <ion-label>性别：</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-radio-group [(ngModel)]="horaData.sex">
          <ion-label>男：</ion-label>
          <ion-radio [value]="true" style="margin-right:1rem;"></ion-radio>

          <ion-label>女：</ion-label>
          <ion-radio [value]="false"></ion-radio>
        </ion-radio-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="ion-text-right">
        <ion-label>出生时间：</ion-label>
      </ion-col>
      <ion-col size="7">
        <horo-date-time [(year)]="horaData.date.year" [(month)]="horaData.date.month" [(day)]="horaData.date.day"
          [(hour)]="horaData.date.hour" [(minute)]="horaData.date.minute"
        [(second)]="horaData.date.second"></horo-date-time>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>时区：</ion-label>
    </ion-col>
    <ion-col size="7">
      <horo-time-zone [(zone)]="horaData.date.tz"></horo-time-zone>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>夏令时：</ion-label>
    </ion-col>
    <ion-col size="7">
      <ion-checkbox [(ngModel)]="horaData.date.st"></ion-checkbox>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="left_col">
      <ion-label>出生地：</ion-label>
    </ion-col>
    <ion-col>
      <horo-map style="margin-right: 1rem;" [(localName)]="horaData.geo_name" [(long)]="horaData.geo.long"
      [(lat)]="horaData.geo.lat"></horo-map>

      <horo-geo [(geoLocalName)]="horaData.geo_name" [(geoLong)]="horaData.geo.long"
      [(geoLat)]="horaData.geo.lat"></horo-geo>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="left_col">
      <ion-label>宫位系统：</ion-label>
    </ion-col>
    <ion-col size="7">
      <ion-select label-placement="fixed" okText="确定" cancelText="取消" [(ngModel)]="horaData.house">
        @for (house of houses; track house) {
          <ion-select-option [value]="house">{{ house }}</ion-select-option>
        }
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>推运类型：</ion-label>
    </ion-col>
    <ion-col size="7">
      <ion-label id="open-process-list">{{ processName }}</ion-label>
      <!--      <ion-picker trigger="process-list" [columns]="pickerColumns" [buttons]="pickerButtons"></ion-picker>-->
      <ion-modal #modal trigger="open-process-list" [isOpen]="false" (didDismiss)="onDidDismiss($event)">
        <ng-template>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="modal.dismiss(null, 'cancel')">取消</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss(currentProcess, 'confirm')">确定</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-picker>
            <ion-picker-column [value]="currentProcess" (ionChange)="onIonChange($event)">
              @for (option of processOptions; track option) {
                <ion-picker-column-option [value]="option.value">{{ option.text }}
                </ion-picker-column-option>
              }
            </ion-picker-column>
          </ion-picker>
        </ng-template>
      </ion-modal>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>推运时间：</ion-label>
    </ion-col>
    <ion-col size="7">
      <horo-date-time [(year)]="processData.date.year" [(month)]="processData.date.month" [(day)]="processData.date.day"
        [(hour)]="processData.date.hour" [(minute)]="processData.date.minute"
      [(second)]="processData.date.second"></horo-date-time>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>时区：</ion-label>
    </ion-col>
    <ion-col size="7">
      <horo-time-zone [(zone)]="processData.date.tz"></horo-time-zone>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="5" class="ion-text-right">
      <ion-label>夏令时：</ion-label>
    </ion-col>
    <ion-col size="7">
      <ion-checkbox [(ngModel)]="processData.date.st"></ion-checkbox>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="5" class="left_col">
      <ion-label>现居住地：</ion-label>
    </ion-col>
    <ion-col>
      <horo-map style="margin-right: 1rem;" [(localName)]="processData.geo_name" [(long)]="processData.geo.long"
      [(lat)]="processData.geo.lat"></horo-map>

      <horo-geo [(geoLocalName)]="processData.geo_name" [(geoLong)]="processData.geo.long"
      [(geoLat)]="processData.geo.lat"></horo-geo>
    </ion-col>
  </ion-row>

  @if (processData.process_name===processNameEnum.LunarReturn || processData.process_name===processNameEnum.LunarcomparNative || processData.process_name===processNameEnum.NativecomparLunar) {
    <ion-row
      >
      <ion-col size="5" class="left_col">
        <ion-label>日返月亮：</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-checkbox [(ngModel)]="processData.isSolarReturn"></ion-checkbox>
      </ion-col>
    </ion-row>
  }

  <ion-button (click)="getProcess()" expand="block" fill="clear">提交</ion-button>

</ion-content>
