<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
    (didDismiss)="isAlertOpen=false"></ion-alert>
  <ul>
    <li>副限时间以主限所管年数7等分</li>
  </ul>

  <div class="table-container">
    <h2 class="center-title">法达星限</h2>
    <table class="firdaria-table ion-text-center">
      <thead>
        <tr>
          <th>主限</th>
          <th>副限</th>
          <th>副限时间</th>
        </tr>
      </thead>
      <tbody>
        @for (firdaria of firdariaData; track firdaria) {
        @for (sub_period of firdaria.sub_period; track sub_period; let i = $index) {
        <tr>
          @if (i==0) {
          <td class="planet-name" [style]=" 'font-family: ' + config.planetFontFamily(firdaria.period)  + ';' "
            [attr.rowspan]="firdaria.sub_period.length">
            {{ config.planetFontString(firdaria.period) }}
          </td>
          }
          <td class="planet-name" [style]=" 'font-family: ' + config.planetFontFamily(sub_period.period)  + ';' ">
            {{ config.planetFontString(sub_period.period) }}
          </td>
          <td>
            {{sub_period.start_date.year}}-{{sub_period.start_date.month.toString().padStart(2,
            "0")}}-{{sub_period.start_date.day.toString().padStart(2, "0")}}
            {{sub_period.start_date.hour.toString().padStart(2,
            "0")}}:{{sub_period.start_date.minute.toString().padStart(2,
            "0")}}:{{sub_period.start_date.second.toString().padStart(2, "0")}}
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
</ion-content>