<div
  class="window-frame"
  [class.maximized]="isMaximized"
  [class.active]="isTopWindow"
  [class.hidden]="!isVisible"
  [ngStyle]="windowStyle"
  (mousedown)="onWindowClick()"
>
  <div class="title-bar" (mousedown)="onTitleMouseDown($event)">
    <span class="title-text">{{ window().title }}</span>
    <div class="title-buttons">
      <button class="win-btn" (click)="onMinimize($event)" title="最小化">
        <ion-icon name="remove-outline"></ion-icon>
      </button>
      <button class="win-btn" (click)="onHide($event)" title="隐藏">
        <ion-icon name="eye-off-outline"></ion-icon>
      </button>
      <button class="win-btn" (click)="onToggleMaximize($event)" [title]="isMaximized ? '还原' : '最大化'">
        <ion-icon [name]="isMaximized ? 'contract-outline' : 'expand-outline'"></ion-icon>
      </button>
      <button class="win-btn close-btn" (click)="onClose($event)" title="关闭">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
  </div>

  <div class="window-content">
    @switch (window().chartType) {
      @case (chartType.Native) {
        <teanote-image
          [inputHoroData]="horoData()"
          [inputMode]="modeEnum.Native"
          [canvasId]="window().id"
          [embedded]="true"
        ></teanote-image>
      }
      @case (chartType.Event) {
        <teanote-image
          [inputHoroData]="eventData()"
          [inputMode]="modeEnum.Event"
          [canvasId]="window().id"
          [embedded]="true"
        ></teanote-image>
      }
      @case (chartType.Transit) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.Transit"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.SolarReturn) {
        <app-return
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.SolarReturn"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-return>
      }
      @case (chartType.LunarReturn) {
        <app-return
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.LunarReturn"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-return>
      }
      @case (chartType.DailyReturn) {
        <app-return
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.DailyReturn"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-return>
      }
      @case (chartType.SolarcomparNative) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.SolarcomparNative"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.NativecomparSolar) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.NativecomparSolar"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.LunarcomparNative) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.LunarcomparNative"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.NativecomparLunar) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.NativecomparLunar"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.DailycomparNative) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.DailycomparNative"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.NativecomparDaily) {
        <app-compare
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputProcessName]="processNameEnum.NativecomparDaily"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-compare>
      }
      @case (chartType.Profection) {
        <app-profection
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [embedded]="true"
        ></app-profection>
      }
      @case (chartType.MedievalProfection) {
        <app-medieval-profection
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputMode]="profectionModeEnum.Medieval"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-medieval-profection>
      }
      @case (chartType.CustomDayProfection) {
        <app-medieval-profection
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputMode]="profectionModeEnum.CustomDay"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-medieval-profection>
      }
      @case (chartType.Firdaria) {
        <app-firdaria
          [inputHoroData]="horoData()"
          [embedded]="true"
        ></app-firdaria>
      }
      @case (chartType.Direction) {
        <app-direction
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [embedded]="true"
        ></app-direction>
      }
      @case (chartType.SolarArc) {
        <app-direction
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [inputMode]="directionModeEnum.SolarArc"
          [embedded]="true"
        ></app-direction>
      }
      @case (chartType.QuadrantProcess) {
        <app-quadrant-process
          [inputHoroData]="horoData()"
          [inputProcessData]="processData()"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-quadrant-process>
      }
      @case (chartType.Promittor) {
        <app-promittor
          [inputHoroData]="horoData()"
          [canvasId]="window().id"
          [embedded]="true"
        ></app-promittor>
      }
    }
  </div>

  @if (!isMaximized) {
    <div class="resize-handle handle-n" (mousedown)="onResizeHandleMouseDown($event, 'n')"></div>
    <div class="resize-handle handle-s" (mousedown)="onResizeHandleMouseDown($event, 's')"></div>
    <div class="resize-handle handle-w" (mousedown)="onResizeHandleMouseDown($event, 'w')"></div>
    <div class="resize-handle handle-e" (mousedown)="onResizeHandleMouseDown($event, 'e')"></div>
    <div class="resize-handle handle-nw" (mousedown)="onResizeHandleMouseDown($event, 'nw')"></div>
    <div class="resize-handle handle-ne" (mousedown)="onResizeHandleMouseDown($event, 'ne')"></div>
    <div class="resize-handle handle-sw" (mousedown)="onResizeHandleMouseDown($event, 'sw')"></div>
    <div class="resize-handle handle-se" (mousedown)="onResizeHandleMouseDown($event, 'se')"></div>
  }
</div>
