<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"></ion-alert>

  <div class="ion-text-center">
    <h2>出生时间：{{ horoData.date.year }}年{{ horoData.date.month.toString().padStart(2, '0') }}月{{
      horoData.date.day.toString().padStart(2, '0') }}日 {{ horoData.date.hour.toString().padStart(2, '0') }}:{{
      horoData.date.minute.toString().padStart(2, '0') }}:{{
    horoData.date.second.toString().padStart(2, '0') }}</h2>
  </div>

  <div class="ion-text-center">
    <h2>推运时间：{{ currentProcessData.date.year }}年{{ currentProcessData.date.month.toString().padStart(2, '0') }}月{{
      currentProcessData.date.day.toString().padStart(2, '0') }}日 {{ currentProcessData.date.hour.toString().padStart(2, '0') }}:{{
      currentProcessData.date.minute.toString().padStart(2, '0') }}:{{
    currentProcessData.date.second.toString().padStart(2, '0') }}</h2>
  </div>

  @if (loading) {
    <div class="ion-text-center">
      <ion-label>获取星盘</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  }

  <!-- <div class="ion-text-center"> -->
  <div style="display: flex; flex-direction: row;justify-content: center;">
    <canvas id="canvas" width="0" height="0"></canvas>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="9" size-sm="9">
          <horo-date-time-change (changedStep)="changeStep($event)"></horo-date-time-change>
        </ion-col>
        <ion-col size="3" size-sm="3" class="ion-text-right">
          <ion-buttons>
            <ion-button fill="clear" (click)="onDetail()" class="icon-top">
              <div class="button-content">
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>详情</ion-label>
              </div>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>