<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]='"/"+path.Home'>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" [routerLink]='"/"+path.Home'>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"></ion-alert>



  <div class="ion-text-center">
    <h2>推运时间：{{ currentProcessData.date.year }}年{{ currentProcessData.date.month.toString().padStart(2, '0') }}月{{
      currentProcessData.date.day.toString().padStart(2, '0') }}日 {{ currentProcessData.date.hour.toString().padStart(2, '0') }}:{{
      currentProcessData.date.minute.toString().padStart(2, '0') }}:{{
    currentProcessData.date.second.toString().padStart(2, '0') }}</h2>
  </div>

  @if (returnData) {
    <div class="ion-text-center">
      <h2>返照时间：{{ returnData.return_date.year }}年{{ returnData.return_date.month.toString().padStart(2, '0') }}月{{
        returnData.return_date.day.toString().padStart(2, '0') }}日 {{ returnData.return_date.hour.toString().padStart(2,
        '0') }}:{{
        returnData.return_date.minute.toString().padStart(2, '0') }}:{{
      returnData.return_date.second.toString().padStart(2, '0') }}</h2>
    </div>
  }

  @if (loading) {
    <div class="ion-text-center">
      <ion-label>获取星盘</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  }
  <div class="ion-text-center">
    <canvas id="canvas" width="0" height="0"></canvas>
  </div>
  @if (horoscopeComparisonData) {
    <div class="horo-aspect-toggle">
      <ion-label class="ion-text-right">星盘</ion-label>
      <ion-toggle [(ngModel)]="isAspect" [disabled]="isDrawing || loading"></ion-toggle>
      <ion-label>相位</ion-label>
    </div>
  }

  @if (isAspect) {
    <div style="display: flex;flex-direction: column;align-items: center;">
      <div>
        <div>说明：比较盘行星横看，原盘行星坚看</div>
      </div>
    </div>
  }

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <horo-date-time-change (chagedStep)="changeStep($event)"></horo-date-time-change>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-buttons>
            <ion-button fill="clear" (click)="onDetail()" class="icon-top">
              <div class="button-content">
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>详情</ion-label>
              </div>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>