.horo-aspect-toggle {
    display: flex;
    justify-content: center;
}

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
    //     height: 10px;
    //     width: 65px;

    background: #ddd;

    /* Required for iOS handle to overflow the height of the track */
    // overflow: visible;
}

ion-toggle::part(handle) {
    // background: #eb7769;
    background-color: #FF7F50;

    // border-radius: 4px;
    // box-shadow: none;
}

ion-toggle.toggle-checked::part(handle) {
    // background: #95c34e;
    background-color: white;
}

ion-button.icon-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

ion-button .button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-button .button-content ion-icon {
  margin-bottom: 4px;
}

ion-button .button-content ion-label {
  margin-top: 4px;
}