/* filepath: /Users/lzh/vscode/horo_workspace/ui/src/app/native/note/note.component.scss */
ion-textarea {
  width: 100%;
  height: 300px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

.note-label {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}