<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" (click)="add()" class="add">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="getNatives()" class="add">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>


  <!-- <ion-searchbar></ion-searchbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    @for (native of natives.data; track native) {
    <ion-item-sliding>
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{native.name}}</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="primary" (click)="toHoro(native, path.Native)">
          <ion-icon slot="icon-only" name="star-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="toHoro(native, path.Process)">
          <ion-icon slot="icon-only" name="play-forward-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="toHoro(native, path.Qizheng)">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="edit(native)">
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true" [disabled]="native.lock" (click)="delete(native.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-alert [isOpen]="isAlertOpen" header="Alert" subHeader="错误！" [message]="message" [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"></ion-alert>