<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="user">
    @if (!authService.isAuth) {
    <ion-row>
      <ion-input label="用户：" [(ngModel)]="user"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input type="password" label="密码：" [(ngModel)]="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-row>
    @if (error) {
    <ion-row class="error">
      {{ error }}
    </ion-row>
    }
    <ion-button expand="full" fill="clear" (click)="login()">登录</ion-button>
    }
    <!-- </ion-grid> -->

    @if (authService.isAuth) {
    <ng-container class="user">
      <ion-row><strong>已登录</strong></ion-row>
      <ion-row><strong>用户：{{ user}}</strong></ion-row>
      @if (error) {
      <ion-row class="error">
        {{ error }}
      </ion-row>
      }
      <ion-button expand="full" fill="clear" (click)="logout()">注销</ion-button>
    </ng-container>
    }
  </ion-grid>
</ion-content>