.content{
  background: #e7e7e7;
}
.user{
  height: 5em;
  align-content: center;
  background: white;
  padding: 1em;
  width: 50%;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}


// ion-modal#modal {
//   --width: fit-content;
//   --min-width: 250px;
//   --height: fit-content;
//   --border-radius: 6px;
//   --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
// }

// ion-modal#modal .wrapper {
//   margin-bottom: 10px;
// }


// ion-modal#modal .error {
//   color: red;
//   font-size: 0.8em;
//   margin-top: 0.5em;
// }

// ion-modal#logout {
//   --width: fit-content;
//   --min-width: 250px;
//   --height: fit-content;
//   --border-radius: 6px;
//   --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
// }

// ion-modal#logout .wrapper {
//   margin-bottom: 10px;
// }


