<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>七政四余知识</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">七政四余知识</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>顶度时间比例</ion-card-title>
        <ion-card-subtitle>太阳行进度数-顶度时间</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>3度(约3天) - 1岁</ion-item>
          <ion-item>1度(约1天) - 4月</ion-item>
          <ion-item>15分(约6小时) - 1月</ion-item>
          <ion-item>1分(约24分钟) - 2日</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>化曜</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>科名：</strong>应该是用于看名次。</p>
        <p><strong>科甲：</strong>能否考中，也可以用来区分异路功能。科甲好的，仕途功名。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>行星昼夜性</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>昼：</strong>日、土、计、水、孛、木、气</p>
        <p><strong>夜：</strong>月、火、罗、金</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>强宫与弱宫</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>强宫：</strong>强宫者，谓命宫、官禄、田宅、妻妾、男女、福德、财帛，又云：财帛次弱，与其命宫相违故耳。居强宫者旺。</p>
        <p><strong>弱宫：</strong>弱宫者，谓兄弟、奴仆、疾厄、相貌、迁移，又云：迁移近强，与其命宫相向故也。临弱宫者衰。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>论行限与星格</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        论行限者，以宫之前后决吉凶；谈星格者，以度之前后定祸福。又有同宫前后之分，又有同度前后之论。克我之星宜其前行。
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>余奴犯主</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>月：</strong>12-19日的月，不怕孛(夜生人为太乙抱蟾)，28-初2，月亮无光，最怕孛(夜生人太乙抱鬼)</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>星辰庙旺</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td>
              <div>计都入庙</div>
              <div>孛星乘旺</div>
              <div>水星乘旺</div>
              <div>太阳乘旺</div>
              <div>巳</div>
            </td>
            <td>
              <div>水星入庙</div>
              <div>金星乘旺</div>
              <div>太阳入庙</div>
              <div>罗喉入庙</div>
              <div>午</div>
            </td>
            <td>
              <div>木星乘旺</div>
              <div>孛星入庙</div>
              <div>未</div>
            </td>
            <td>
              <div>水星乘旺</div>
              <div>紫气入庙</div>
              <div>申</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>金星入庙</div>
              <div>土星乘旺</div>
              <div>辰</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>金星入庙</div>
              <div>太阴乘旺</div>
              <div>酉</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>火星入庙</div>
              <div>罗喉乘旺</div>
              <div>计都乘旺</div>
              <div>土星乘旺</div>
              <div>卯</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>计都乘旺</div>
              <div>太阳乘旺</div>
              <div>太阴入庙</div>
              <div>戌</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>孛星乘旺</div>
              <div>计都乘旺</div>
              <div>罗喉入庙</div>
              <div>寅</div>
            </td>
            <td>
              <div>土星入庙</div>
              <div>火星乘旺</div>
              <div>紫气乘旺</div>
              <div>丑</div>
            </td>
            <td>
              <div>水星乘旺</div>
              <div>土星入庙</div>
              <div>子</div>
            </td>
            <td>
              <div>金星乘旺</div>
              <div>计都入庙</div>
              <div>木星入庙</div>
              <div>紫气乘旺</div>
              <div>亥</div>
            </td>
          </tr>
        </table>
        <p>凡庙旺星辰，掌身命官福田财妻嗣等主者为合格。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>星辰喜乐</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td>
              <div>水星乐宫</div>
              <div>金星喜宫</div>
              <div>巳</div>
            </td>
            <td>
              <div>土星喜宫</div>
              <div>太阳乐宫</div>
              <div>午</div>
            </td>
            <td>
              <div>木星喜宫</div>
              <div>太阴乐宫</div>
              <div>未</div>
            </td>
            <td>
              <div>水星乐宫</div>
              <div>火星喜宫</div>
              <div>申</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>水星喜宫</div>
              <div>太阳乐宫</div>
              <div>金星乐宫</div>
              <div>辰</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>金星乐宫</div>
              <div>孛星乐宫</div>
              <div>酉</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>火星乐宫</div>
              <div>月喜宫</div>
              <div>计都乐宫</div>
              <div>卯</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>罗喜宫</div>
              <div>气喜宫</div>
              <div>戌</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>太阳喜宫</div>
              <div>木星乐宫</div>
              <div>寅</div>
            </td>
            <td>
              <div>土星乐宫</div>
              <div>火星喜宫</div>
              <div>丑</div>
            </td>
            <td>
              <div>土星乐宫</div>
              <div>孛星乐宫</div>
              <div>计都喜宫</div>
              <div>子</div>
            </td>
            <td>
              <div>孛星喜宫</div>
              <div>木星乐宫</div>
              <div>太阴喜宫</div>
              <div>亥</div>
            </td>
          </tr>
        </table>
        <p>凡喜乐星辰，掌身命官福田财妻嗣等用者，为合格。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>星辰贵格</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td>
              <div>金水会蛇</div>
              <div>日水乘旺</div>
              <div>水临双女</div>
              <div>巳</div>
            </td>
            <td>
              <div>水阳相会</div>
              <div>日帝居阳</div>
              <div>水名荣显</div>
              <div>午</div>
            </td>
            <td>
              <div>月挂柳梢</div>
              <div>金躔鬼宿</div>
              <div>木入秦州</div>
              <div>火号文昌</div>
              <div>星聚东井</div>
              <div>未</div>
            </td>
            <td>
              <div>木土相会</div>
              <div>月遶昆仑</div>
              <div>火归坤地</div>
              <div>申</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>金木逢龙</div>
              <div>水润金明</div>
              <div>金号太常</div>
              <div>木躔角道</div>
              <div>土归郑国</div>
              <div>辰</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>月到金牛</div>
              <div>金居赵分</div>
              <div>月升沧海</div>
              <div>酉</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>火燃天蝎</div>
              <div>日出扶桑</div>
              <div>太阳逢兔</div>
              <div>卯</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>土日合照</div>
              <div>日遇白羊</div>
              <div>火居娄宿</div>
              <div>戌</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>木计同寅</div>
              <div>木居人马</div>
              <div>寅</div>
            </td>
            <td>
              <div>乙气骑牛</div>
              <div>孛星朝斗</div>
              <div>长庚朝斗</div>
              <div>火土会牛</div>
              <div>土号太常</div>
              <div>丑</div>
            </td>
            <td>
              <div>水清宝瓶</div>
              <div>土号齐瓶</div>
              <div>水土朝北</div>
              <div>子</div>
            </td>
            <td>
              <div>木计逢鱼</div>
              <div>太乙朝天</div>
              <div>木临营室</div>
              <div>日月朝天</div>
              <div>金居卫分</div>
              <div>金水乘旺</div>
              <div>亥</div>
            </td>
          </tr>
        </table>
        <p>凡贵格星辰，掌身命官福田财妻嗣等主者，为合格。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>星辰贱格</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td>
              <div>土埋双女</div>
              <div>水孛逢楚</div>
              <div>巳</div>
            </td>
            <td>
              <div>计临狮位</div>
              <div>木居狮子</div>
              <div>金火同周</div>
              <div>孛骑狮子</div>
              <div>午</div>
            </td>
            <td>
              <div>计入秦分</div>
              <div>水流巨蟹</div>
              <div>未</div>
            </td>
            <td>
              <div>土居水位</div>
              <div>申</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>木触金龙</div>
              <div>火入金乡</div>
              <div>辰</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>火烧牛角</div>
              <div>酉</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>金乘火位</div>
              <div>卯</div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>金忌白羊</div>
              <div>水乘金旺</div>
              <div>戌</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>金骑人马</div>
              <div>寅</div>
            </td>
            <td>
              <div>泉枯牛壑</div>
              <div>丑</div>
            </td>
            <td>
              <div>木打宝瓶</div>
              <div>子</div>
            </td>
            <td>
              <div>水计逢鱼</div>
              <div>亥</div>
            </td>
          </tr>
        </table>
        <p>凡贱格星辰，掌身命官福田财妻嗣等主者，为忌格。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>行星详解</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>日</h3>
              <p>赤红色，性仁厚，星盘中惟一光源，阳性。</p>
              <p>代表人物：父亲、官员。</p>
              <p>代表事物：职业、权势、地位，政府、物理、化学、药剂。</p>
              <p>代表身体部位：眼睛、心脏。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>月</h3>
              <p>青白色，性情纯粹、醇厚</p>
              <p>初二到初八，十七到二十二的月亮比较好</p>
              <p>代表人物：母亲、护士、厨师、妻子。</p>
              <p>代表事物：财富、灵感玄学、精神寄托、享受。</p>
              <p>代表身体部位：胸、脑。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>水</h3>
              <p>代表人物：数术家、秘书、学者、作家。</p>
              <p>代表事物：智力、学业、口才才艺、分析能力、商业贸易、交易、术数、数学、脑部疾病癫痫。</p>
              <p>代表身体部位：神经系统、肺、肠道、脑部。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>金</h3>
              <p>代表人物：演员、艺术家、音乐家。</p>
              <p>代表事物：婚姻、爱情、享受、奢侈品、珠宝、钱财、快乐、美好的事物、车子等交通工具、情欲、戏剧、巫术、药物、催眠、性病。</p>
              <p>代表的身体部位：生殖系统。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>火</h3>
              <p>代表人物：设计师、工程师、建造师、军警、医生。</p>
              <p>代表事物：情欲、机械、工业、技术方面的能力、战争。</p>
              <p>代表身体部位：血液、肌肉、骨髓。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>木</h3>
              <p>代表人物：女儿、银行家、律师、法官、政府官员、导师、宗教领袖。</p>
              <p>代表事物：投机、赌博，金钱、财富、幸福、好运、宗教、哲学、长途旅行、信仰、道德、慈善事业、外国人、外国事务、术数、法律、法律事务、过敏。</p>
              <p>代表身体部位：肝、手脚。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>土</h3>
              <p>代表人物：长辈、领导、小偷、强盗、建筑工人、木工、苦行者、僧侣、隐士。</p>
              <p>代表事物：房地产、长寿、死亡、痛苦、灾祸、纪律性、责任、道德品行、意外事故、慢性病、瘫痪、风湿。</p>
              <p>代表的身体部位：牙、骨。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>炁</h3>
              <p>木宿的奴星，木星忌被奴星犯。炁星主小众学术、小众知识、玄学、瑞气、代表有紫气东来之像。但是很多时候也会带凶性质。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>计</h3>
              <p>是土星月星的奴星，土星月星忌被奴星犯。代表凶性，是坏事情的代表，不治之症，药物，酒精等。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>罗</h3>
              <p>是火星的奴星，火星被奴星犯是非常严重的伤害，罗星也会犯日星。代表凶性，是坏事物的代表，不治之症，药物等。</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h3>孛</h3>
              <p>是水星的奴星，水星忌被奴星犯。孛星主淫荡之气。和凶星在一起即会变凶，和吉星在一起变吉。但是太阴和孛星一起主淫荡之象。</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>天厨起法</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>以年干取五鼠遁，取年干禄地支上天干的禄，即是天厨。如：丙年，起五鼠遁，得戊子，己丑，……，癸巳，……。癸禄在子，丙的天厨在子。</p>
        <p><strong>天厨：</strong>甲乙巳午丙在子，丁戊巳午己申储。庚落寅中辛寻午，壬厨居酉癸临猪。天厨名食神禄，假如甲生人逢巳，甲食丙，丙禄在巳；乙生人逢午，乙食丁，丁禄居午是也。</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>宫分所属</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>子土宝瓶齐青位</ion-item>
          <ion-item>丑土磨羯越扬州</ion-item>
          <ion-item>寅木人马燕幽地</ion-item>
          <ion-item>卯火天蝎宋豫求</ion-item>
          <ion-item>辰金天秤郑兖分</ion-item>
          <ion-item>巳水双女楚荆丘</ion-item>
          <ion-item>午日三河周狮子</ion-item>
          <ion-item>未月巨蟹秦雍留</ion-item>
          <ion-item>申水益魏阴阳位</ion-item>
          <ion-item>酉金赵冀是金牛</ion-item>
          <ion-item>戌火白羊鲁徐郡</ion-item>
          <ion-item>亥木双鱼卫豳收</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>二十八宿及其对应动物</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>角木蛟</ion-item>
          <ion-item>亢金龙</ion-item>
          <ion-item>氐土貉</ion-item>
          <ion-item>房日兔</ion-item>
          <ion-item>心月狐</ion-item>
          <ion-item>尾火虎</ion-item>
          <ion-item>箕水豹</ion-item>
          <ion-item>斗木獬</ion-item>
          <ion-item>牛金牛</ion-item>
          <ion-item>女土蝠</ion-item>
          <ion-item>虚日鼠</ion-item>
          <ion-item>危月燕</ion-item>
          <ion-item>室火猪</ion-item>
          <ion-item>壁水俞</ion-item>
          <ion-item>奎木狼</ion-item>
          <ion-item>娄金狗</ion-item>
          <ion-item>胃土雉</ion-item>
          <ion-item>昴日鸡</ion-item>
          <ion-item>毕月乌</ion-item>
          <ion-item>觜火猴</ion-item>
          <ion-item>参水猿</ion-item>
          <ion-item>井木犴</ion-item>
          <ion-item>鬼金羊</ion-item>
          <ion-item>柳土獐</ion-item>
          <ion-item>星日马</ion-item>
          <ion-item>张月鹿</ion-item>
          <ion-item>翼火蛇</ion-item>
          <ion-item>轸水蚓</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>