<ion-label (click)="open()">{{ geoLocalName }}</ion-label>

<ion-modal [isOpen]="isModalOpen" animated="true" [showBackdrop]="true" [backdropDismiss]="false">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          经纬度
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>地名：</ion-label>
          <ion-input type="text" [(ngModel)]="geoLocalName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>经度：</ion-label>
          <ion-input type="number" [(ngModel)]="geoLongD"></ion-input>
          <ion-select okText="确定" cancelText="取消" [(ngModel)]="geoEW">
            <ion-select-option value="E">E</ion-select-option>
            <ion-select-option value="W">W</ion-select-option>
          </ion-select>
          <ion-input type="number" min="0" max="59" [(ngModel)]="geoLongM"></ion-input>
          <ion-label>&#180;</ion-label>
          <ion-input type="number" min="0" max="59" [(ngModel)]="geoLongS"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>纬度：</ion-label>
          <ion-input type="number" [(ngModel)]="geoLatD"></ion-input>
          <ion-select okText="确定" cancelText="取消" [(ngModel)]="geoNS">
            <ion-select-option value="N">N</ion-select-option>
            <ion-select-option value="S">S</ion-select-option>
          </ion-select>
          <ion-input type="number" min="0" max="59" [(ngModel)]="geoLatM"></ion-input>
          <ion-label>&#180;</ion-label>
          <ion-input type="number" min="0" max="59" [(ngModel)]="geoLatS"></ion-input>
        </ion-item>
      </ion-list>


      <div class="ion-text-right">
        <ion-button (click)="cancel()">取消</ion-button>
        <ion-button (click)="ok()">确定</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>