// ion-title {
//   text-align: center;
// }

.container {
  display: flex;
  //position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  margin: 0.5em;
  border-radius: 1em;

  background-color: darkred;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  font-size: 2em;
}
